.tab-content>.tab-pane {
    display: none;
    opacity: 0;
}

.tab-content>.active {
    display: block;
    animation: tab 0.5s linear forwards;
}

@keyframes tab {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.tabs-nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap:43px;
}

.tab-content {
    position: relative;
    z-index: 2;
}

.tabs-nav__link {
    display: block;
    position: relative;
    text-decoration: none;

    color: var(--darkgrey, #4F4F4F);

    &::after{
        content: '';
        display: block;

        position: absolute;
        left: 0;
        bottom: -2px;

        width: 0;
        height: 2px;
        
        background: var(--orange);
    }
}

.tabs-nav__item.active .tabs-nav__link {
    color: var(--orange);

    &::after{
        width: 44px;
        transition: all 0.3s cubic-bezier(0.42, 0, 0.42, 1.27);
    }
}


